GOOGLE_API_KEY=
GEMINI_MODEL=
OLLAMA_BASE_URL=
OLLAMA_MODELS=
SUPABASE_URL=
SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# Voice ID: EXAVITQu4vr4xnSDxMaL =
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
SOLANA_PROGRAM_ID=
